# Ignore everything:
*

# Include only these folders:
!wormutils/
!wormutils/*
!wormutils/*/
!html/
!html/wormutils/
!html/wormutils/*
!html/wormutils/*/
!README.md
!CITATION.cff
!LICENSE.txt
!setup.py
!.gitignore

# Ignore pycache
wormutils/__pycache__/*
wormutils/__pycache__/
wormutils/__pycache__
.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
__pycache__/
